@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

html,
body,
img,
p,
h1,
h2,
h3,
h4,
h5,
header {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
}

body {
    /* font-family: 'Odibee Sans', cursive !important; */
    font-size: 15px;
}

input,
select {
    -webkit-appearance: none;
    appearance: none;
}

input[type="submit"],
input[type="button"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
    display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
    outline-offset: -2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    width: 600px;
    text-align: center;
}

.modal-content .modal-title {
    text-align: start;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}